* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container .logo {
    font-size: 1.7rem;
    font-family: 'Roboto Slab', serif;
    margin: 20px 26px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 3px;
}
.introduction-container {
    text-align: center;
}
.header-container .img-logo {
    width: 42px;
    height: 42px;
    margin: 5px 2px;
}

.logo span {
    color: #0000ff;
    display: flex;
    align-items: center;
    gap: 4px;
}

.search-container {
    width: 320px;
    position: relative;
}

.search-container input {
    padding: 18px;
    border-radius: 40px;
    border: none;
    background-color: #d4d4ff;
    width: 100%;
    position: relative;
    outline: none;
    border: none;
}

.search-container .search-icon {
    position: absolute;
    right: 0;
    background-color: #8585ff;
    padding: 9px 12px 11px 12px;
    border-radius: 0px 40px 40px 0px;

}

.socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.socials-container .icon-s {
    box-shadow: 0 0 2px 0.5px #7272ff;
    padding: 10px;
    border-radius: 100%;
}

.facebook:hover {
    background-color: #8585ff;
}

.menu-bar {
    width: 100%;
    height: 50px;
    background-color: #7272ff;
    display: flex;
    align-items: center;
}

.menu-btn .ham-btn {
    background-color: transparent;
    border: none;
    padding: none;
    margin: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    color: #ffff;
    font-family: 'Roboto Slab', serif;
    margin-left: 20px;
}

.introduction-section {
    /* background-image: url(./source/img/introBackground.jpg);
    background-size: cover; */
    height: 420px;
    background-color: aliceblue;
    /* background-position: center;
    background-attachment:local; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-container {
    padding: 35px 15px;
}

.introduction-container h2 {
    font-size: 1.7rem;
    text-shadow: 1px 1px 5px #ffffff;
    line-height: 1.2;
    margin: 10px 0px 15px 0px;
    color: #000000;
}

.introduction-container p {
    text-shadow: 0px 1px 5px #ffff;
    font-size: 1.2rem;
    color: #000000;
    max-width: 600px;
}

.introduction-container .intro-btn-container {
    margin: 50px 0;
}

.introduction-container .intro-btn {
    text-decoration: none;
    padding: 20px;
    border: 2px solid #7272ff;
    border-radius: 10px;
    background-color: #7272ff;
    color: #ffffff;
}

.introduction-container .btn-2 {
    background-color: #ffffff;
    color: #000000;
}

.book-categories-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.categorie-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 40px 8px 0px 8px;
    margin: 0;
}

.categorie-item:hover .categorie-icon {
    background-color: #d7d7ff;
}

.categorie-icon {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    box-shadow: 0 0 7px 0px #8585ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-overview {
    background-color: #7b7bff;
}

.stats-overview .stats-overview-container {
    margin: 40px 0;
    padding: 15px 0;
    text-transform: uppercase;
}

.stats-overview .stats-overview-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.stats-overview-container h3 {
    font-size: 1.5rem;
}
.welcome-section {
    display: flex;
    gap: 2%;
}
.welcome-section .welcome-img img {
    /* width: 200px;
    height: 300px;
    max-width: 300px; */
    display: none;
}

.welcome-section-container h3 {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #0000ff;
    margin: 20px 20px;
}
.welcome-section-container h2 {
    text-transform: capitalize;
    font-size: 1.7rem;
    margin: 20px 20px;
}
.welcome-section-container .welcome-text-p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 20px;
    max-width: 650px;
}
.welcome-section-container .welcome-s-btn {
    margin: 40px 20px;
}
.welcome-section-container .btn-list-autor{
    text-decoration: none;
    background-color: #5454fc;
    color: #ffffff;
    padding: 17px;
    border-radius: 8px;
}
.cards-book-release .litle-section {
    text-align: center;
    padding: 40px 0;
}
.litle-section h3 {
    color: #7272ff;
    font-size: 1.2rem;
    line-height: 2.3;
}
.cards-book-release {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-item {
    width: 350px;
    box-shadow: 0 0 3px 1px #696969;
    border-radius: 20px;
}
.card-item:nth-child(3) {
    font-size: 0.97rem;
}
.card-item .info-card {
    padding: 12px 30px;
}
.card-item .info-card p{
    color: #ff4b4b;
}
.card-item .info-card p,h2,h3 {
    margin: 9px 0;
}
.card-item img {
    width: 350px;
    height: 350px;
    max-width: 400px;
    border-radius: 20px 20px 0px 0px;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.list-of-release-btn {
    margin: 30px 0;
    font-size: 1.2rem;
}
.footer-container {
    background-color: #4747ff;
    color: #f0f0ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.footer-header {
    text-align: center;
}
 .form-container {
    padding: 0 27px;
}
.form-container form{
    background-color: #3333fa;
    padding: 5px;
    width: 320px;
    margin: 20px;
}
 .form-container #submit-btn {
    height: 40px;
    padding: 0 5px;
} 
.form-container #email {
    height: 40px;
}  
.nav-list ul {
    display: none;
}
.sideBarStyle {
    
}
@media only screen and (min-width: 992px) and (max-width: 1700px) { 
    .introduction-container {
        text-align: center;
    }
    .introduction-container h2 {
        font-size: 2.3rem;
        max-width: 600px;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .book-categories-container {
        flex-direction: row;
    }

    .stats-overview .stats-overview-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .welcome-img {
        min-width: 300px;
        min-height: 300px;
        width: 500px;
        height: 500px;
    }
    .welcome-section .welcome-img img {
        width: 90%;
        height: 90%;
        max-width: 600px;
        display: block;
        border-radius: 20px;
    }
    .form-container form{
        width: 400px;
    }
    .form-container #email {
        width: 250px;
    }
    .menu-btn {
        display: none;
    }
    .nav-list ul {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 0 20px;
        list-style-type: none;
    }
    .nav-list ul li a {
        color: #ffffff;
    }

}